<div class=" bg-stone-500 px-72 py-5">
    <table class=" table-auto w-full">
        <thead class=" sticky top-0 bg-slate-800 uppercase text-white font-bold">
            <tr class=" ">
                <th class="p-2">nombre</th>
                <th class="p-2">fecha de nacimiento</th>
                <th class="p-2">edad</th>
                <th class="p-2">dirección</th>
            </tr>
        </thead>
        <tbody>
            <tr [ngClass]="(i%2) == 0 ? 'bg-sky-100' : 'bg-sky-200'" *ngFor="let user of users; let i = index">
                <td class="p-1">{{user.nombre}}</td>
                <td class="p-1 text-center">{{user.fecha_nacimiento}}</td>
                <td class="p-1 text-center" >{{user.edad}}</td>
                <td class="p-1">{{user.direccion.domicilio}}, {{user.direccion.num_exterior}}, {{user.direccion.colonia}}, {{user.direccion.cp}}, {{user.direccion.ciudad}}</td>
            </tr>
        </tbody>
    </table>
</div>